In [1]:
from datetime import date, datetime, timedelta
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas.tseries.offsets import DateOffset
from statsmodels.tsa.holtwinters import ExponentialSmoothing

In [3]:
hp_df1 = pd.read_csv("arima_hparams1.csv").drop(["Unnamed: 0", "level_2"], axis=1)
hp_df2 = pd.read_csv("arima_hparams2.csv").drop(["Unnamed: 0", "level_2"], axis=1)
hp_df3 = pd.read_csv("arima_hparams3.csv").drop(["Unnamed: 0", "level_2"], axis=1)
hp_df = pd.concat([hp_df1, hp_df2, hp_df3], axis=0)

In [4]:
hp_df

     store_nbr                      family  diff   order  cv_rmsle
0            1                  AUTOMOTIVE   day  (0, 4)  0.500452
1            1                   BABY CARE  none  (8, 8)  0.000000
2            1                      BEAUTY   day  (8, 8)  0.447101
3            1                   BEVERAGES  none  (8, 8)  0.155189
4            1                       BOOKS  none  (4, 4)  0.391801
..         ...                         ...   ...     ...       ...
457         54                     POULTRY  none  (8, 8)  0.254484
458         54              PREPARED FOODS  none  (8, 8)  0.301981
459         54                     PRODUCE   day  (8, 8)  0.113796
460         54  SCHOOL AND OFFICE SUPPLIES  none  (0, 8)  0.331195
461         54                     SEAFOOD  none  (8, 8)  0.747696

[1782 rows x 5 columns]

In [5]:
hp_df.to_csv("./arima_hparams.csv")