In [1]:
from datetime import date, datetime, timedelta
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from functools import reduce

In [2]:
msles_df1 = pd.read_csv("store_nbr_family_best_msles2.csv")
msles_df2 = pd.read_csv("top_down_store_nbr_family_best_msles2.csv")
msles_df3 = pd.read_csv("top_down_family_then_store_nbr_best_msles2.csv")

In [3]:
cutoffs = msles_df1.columns[2:]

In [4]:
msles_df = msles_df1.merge(msles_df2, on=["store_nbr", "family"])
for cutoff in cutoffs:
    msles_df[cutoff] = (msles_df[[cutoff + "_x", cutoff + "_y"]]).min(axis=1)
    msles_df = msles_df.drop([cutoff + "_x", cutoff + "_y"], axis=1)
msles_df.head()

,store_nbr,family,cluster,2017-05-08,2017-06-05,2017-07-03,2017-07-31
0,1,AUTOMOTIVE,13,0.135487,0.155650,0.319663,0.249930
1,1,BABY CARE,13,0.000000,0.000000,0.000000,0.000000
2,1,BEAUTY,13,0.133388,0.172049,0.193954,0.175956
3,1,BEVERAGES,13,0.036529,0.018366,0.016777,0.019927
4,1,BOOKS,13,0.129721,0.231963,0.134613,0.029989

In [5]:
msles_df = msles_df.merge(msles_df3, on=["store_nbr", "family"])
for cutoff in cutoffs:
    msles_df[cutoff] = (msles_df[[cutoff + "_x", cutoff + "_y"]]).min(axis=1)
    msles_df = msles_df.drop([cutoff + "_x", cutoff + "_y"], axis=1)
msles_df.head()

,store_nbr,family,cluster,2017-05-08,2017-06-05,2017-07-03,2017-07-31
0,1,AUTOMOTIVE,13,0.135487,0.155650,0.319663,0.249930
1,1,BABY CARE,13,0.000000,0.000000,0.000000,0.000000
2,1,BEAUTY,13,0.133388,0.172049,0.193954,0.175956
3,1,BEVERAGES,13,0.036529,0.018366,0.016777,0.019927
4,1,BOOKS,13,0.129721,0.231963,0.134613,0.027932

In [6]:
msles_df.iloc[:, 3:].mean()**0.5

2017-05-08    0.405977
2017-06-05    0.390097
2017-07-03    0.382396
2017-07-31    0.383456
dtype: float64

In [7]:
msles_df1["cv_msle"] = msles_df1.iloc[:, 2:].mean(axis=1)
msles_df1.groupby("family").agg({"cv_msle":"mean"}).sort_values("cv_msle")

                             cv_msle
family
DAIRY                       0.019866
BOOKS                       0.021304
BREAD/BAKERY                0.025056
GROCERY I                   0.026914
DELI                        0.030459
PRODUCE                     0.036667
POULTRY                     0.040422
BEVERAGES                   0.040940
PERSONAL CARE               0.057644
MEATS                       0.062242
HOME CARE                   0.064299
CLEANING                    0.077103
PREPARED FOODS              0.085172
BABY CARE                   0.086406
EGGS                        0.098511
FROZEN FOODS                0.132519
HOME APPLIANCES             0.166169
HOME AND KITCHEN II         0.212112
BEAUTY                      0.216665
PET SUPPLIES                0.219605
PLAYERS AND ELECTRONICS     0.245280
SEAFOOD                     0.248340
MAGAZINES                   0.252986
AUTOMOTIVE                  0.270324
HARDWARE                    0.281135
LAWN AND GARDEN             0.286967
HOME AND KITCHEN I          0.312910
GROCERY II                  0.313445
LADIESWEAR                  0.318433
CELEBRATION                 0.359771
LINGERIE                    0.392073
SCHOOL AND OFFICE SUPPLIES  0.463177
LIQUOR,WINE,BEER            0.542365

In [8]:
msles_df2["cv_msle"] = msles_df2.iloc[:, 3:].mean(axis=1)
msles_df2.groupby("family").agg({"cv_msle":"mean"}).sort_values("cv_msle")

                             cv_msle
family
BOOKS                       0.022008
DAIRY                       0.028761
BREAD/BAKERY                0.032413
GROCERY I                   0.034868
DELI                        0.036552
PRODUCE                     0.047876
BEVERAGES                   0.049144
POULTRY                     0.054802
MEATS                       0.065869
PERSONAL CARE               0.067804
HOME CARE                   0.070684
BABY CARE                   0.087289
PREPARED FOODS              0.091279
CLEANING                    0.094678
FROZEN FOODS                0.102195
EGGS                        0.104212
HOME APPLIANCES             0.166849
HOME AND KITCHEN II         0.225472
PET SUPPLIES                0.239555
PLAYERS AND ELECTRONICS     0.257443
MAGAZINES                   0.276360
SEAFOOD                     0.288570
AUTOMOTIVE                  0.290335
BEAUTY                      0.292923
HARDWARE                    0.300065
HOME AND KITCHEN I          0.319765
LAWN AND GARDEN             0.324248
LADIESWEAR                  0.327085
GROCERY II                  0.375606
CELEBRATION                 0.381596
LINGERIE                    0.413639
LIQUOR,WINE,BEER            0.428332
SCHOOL AND OFFICE SUPPLIES  0.599755